@{
    ViewData["Title"] = "Db";
}

<h1 class="display-4">Робота з базами даних</h1>
<p>
    Бази даних, по відношенню до веб-сервера із сайтом, можна поділити
    на локальні та віддалені.
</p>
<p>
    В ASP, як і у .NET поширена практика роботи з БД засобами EntityFramework
</p>
<ul>
    <li>
        Microsoft.EntityFrameworkCore - ядро фраймворка
    </li>
    <li>
        Microsoft.EntityFrameworkCore.Tool - засоби для командного рядку
    </li>
    <li>
        Pomelo.EntityFrameworkCore.MySql - драйвери для роботи
    </li>
</ul>
<h2>Підключення</h2>
<p>
    Конфігурація. Паролі до віддалених БД не можна передавати у відкриті
    репозиторії.
</p>